# License
MONTAG_LICENSE=SET_LICENSE_HERE

# Optional, you can also set this in the app
OPEN_API_KEY=YOUR-KEY-HERE

######### You shouldn't need to edit the variables below #########

# Friday web scraper web service
# ==============================
MONTAG_TOKEN=YjI4NGE3MjVkMDYyNDQ4ZGIxOTBhMzNmNDM1YmFmMjk=
FRIDAY_API_TOKEN=CHANGE_ME_101

# Reranker service configuration
# ==============================
AUTH_KEY=CHANGE_ME_102

# Montag.AI app veriables
# =======================
MONTAG_KEY=a46b3g7b0fb4dd3a048ba4dc6e9fe0a8cb804d7884c62b6b2ea09c99612c4407
MONTAG_ADMIN_EMAIL=martin@tyk.io
DISTPATH=/app/dist

# Enable profiling
MONTAG_PROFILE=false

# Enable link unfurling
ROD_BROWSER=ws://rod:7317

# To improve RAG accuracy, enable the Reranker service
# RERANKER_URL=http://reranker-1:4000/rerank
# RERANKER_TOKEN=CHANGE_ME_102


## Set this variable for PSQL support
MONTAG_PG_DSN=user=postgres password=mysecretpassword host=psql port=5432

## Set this variable for Auth0 support
# AUTH0_AUDIENCE='https://foo/api/v2/'
# AUTH0_DOMAIN='tyk.eu.auth0.com'
# AUTH0_AUDIENCE='https://foo/api/v2/'

## Set these variables for SMTP support
# MONTAG_SMTP_SERVER="smtp.foo.net"
# MONTAG_SMTP_PORT=465
# MONTAG_SMTP_USER="username"
# MONTAG_SMTP_PASS="password"
# MONTAG_SMTP_FROM="coolguys@tyk.com"

## Frontend Settings
VITE_SIMPLE_REST_URL=http://localhost:8080/api